@import url(https://fonts.googleapis.com/css?family=DotGothic16:regular);

* {
  font-family: "DotGothic16";
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  padding: 12px 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

.common-btn,
.outline-btn {
  background-color: #ff4654;
  padding: 8px 20px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 22px;
  color: #111823;
  border: none;
  cursor: pointer;
}

.outline-btn {
  color: #ff4654;
  border: 1px solid #ff4654;
  background-color: whitesmoke;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

.logo {
  color: #ff4654;
}

/* Hero section style */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .hero-img{
    width: 500px;
} */

.hero-des h2 {
  font-weight: bold;
  font-size: 60px;
}

#hero-hi {
  font-size: 40px;
  color: gray;
}

.hero-des {
  /* margin: 20px 0; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about {
  background-color: #fd6a76;
  padding: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


article {
  display: flex;
  gap: 15px;
  margin: 40px 0;
}

.abilities h3 {
  color: whitesmoke;
}

.work{
    margin: 50px 0;
}

.work .container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.gallery{
    display: grid;
    /* margin: 0 auto; */
    /* text-align: center; */
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    grid-auto-rows: 300px;
    grid-template-areas: 
    
    "one two three"
    "four two six"
    "four five six"
    
    ;
}

.work .container h2{
    text-align: center;
}

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-1{
    grid-area: one;
}

.box-2{
    grid-area: two;
}

.box-3{
    grid-area: three;
}

.box-4{
    grid-area: four;
}

.box-5{
    grid-area: five;
}

.box-6{
    grid-area: six;
}